---
import Layout from '@/layouts/Layout.astro';
import Prices from '@/components/Prices.astro';
import { spaServices } from '@/utils/constants';

const { tiempos } = spaServices;
---

<Layout title="Garantia">
  <main class="container">
    <section class="container-prices">
      <h2 class="title-price">Garantias</h2>
      <Prices
        prices={tiempos.prices}
        descriptions={tiempos.descriptions}
        title="Tiempos"
      />
    </section>
  </main>
</Layout>

<style>
  .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .container-prices {
    width: 80%;
    margin-top: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    border: 1px solid #fff;
    outline: 1px solid rgb(223, 18, 154);
    outline-offset: -13px;
  }

  .container-prices .title {
    text-align: center;
    margin-bottom: 10px;
    letter-spacing: 3px;
  }

  .container-prices .title-price {
    text-align: center;
    margin-top: 13px;
    font-size: 2.5rem;
    letter-spacing: 5px;
  }

  @media screen and (max-width: 768px) {
    .container-prices {
      width: 75vh;
      padding-left: 100px;
      margin-left: 500px;
      margin-right: 200px;
    }

    .container-prices .title {
      text-align: center;
      margin-bottom: 5px;
      margin-right: 80px;
    }
    .container-prices .title-price {
      text-align: center;
      margin-top: 10px;
      margin-right: 80px;
    }
  }
</style>
