---
import Layout from '@/layouts/Layout.astro';
import Carousel from '@/components/Carousel.astro';
import Card from '@/components/Card.astro';
import Instagram from '@/components/icons/Instagram.astro';
import Tiktok from '@/components/icons/Tiktok.astro';
import Whatsapp from '@/components/icons/Whatsapp.astro';

const images = [
  'images/banner/banner1.webp',
  'images/banner/banner2.webp',
  'images/banner/banner3.webp',
];
---

<Layout title="JDNails">
  <main class="container">
    <section class="banner__nails">
      <Carousel images={images} />
    </section>

    <section class="container__nails__services" id="servicios">
      <h2 class="title__services">Servicios</h2>
      <div class="container__services">
        <Card
          title="Semipermanente"
          description="This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer"
          src="images/1.webp"
        />

        <Card
          title="Acrilico"
          description="This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer"
          src="images/2.webp"
        />

        <Card
          title="Retoques"
          description="This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer"
          src="images/3.webp"
        />

        <Card
          title="Press On"
          description="This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer"
          src="images/banner/banner8.webp"
        />
      </div>
    </section>

    <section class="container__social">
      <a href="https://www.instagram.com/jessicadiaz_nailsart/" target="_blank">
        <Instagram class="icon__social" />
      </a>

      <a
        href="https://www.tiktok.com/@jessicadiazzapata8?lang=es"
        target="_blank"
      >
        <Tiktok class="icon__social" />
      </a>

      <a
        href="https://api.whatsapp.com/send?phone=+573212257761&text=Bienvenido%20a%20Jessica%20Diaz%20Nails%20Spa,%20¿en%20qué%20te%20podemos%20ayudar?"
        target="_blank"
      >
        <Whatsapp class="icon__social" />
      </a>
    </section>

    <section class="container__questions" id="questions">
      <h2 class="title__services">Preguntas Frecuentes</h2>
      <ul class="container__warranty">
        <li
          data-bs-toggle="collapse"
          data-bs-target="#collapseWarranty"
          aria-expanded="false"
          aria-controls="collapseWarranty"
          class="card card-body description__questions"
        >
          <div>
            <span class="collapse-icon" aria-hidden="true"></span>
            Que cubre la garantia
          </div>

          <div class="collapse" id="collapseWarranty">
            <div class="content__collapse">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
              voluptatibus exercitationem in fugiat enim placeat unde, fugit
              dolorem ab tempora suscipit ut quod accusamus laudantium fuga
              sequi ipsam maxime officia!
            </div>
          </div>
        </li>

        <li
          data-bs-toggle="collapse"
          data-bs-target="#collapseTime"
          aria-expanded="false"
          aria-controls="collapseTime"
          class="card card-body description__questions"
        >
          <div>
            <span class="collapse-icon" aria-hidden="true"></span>
            Cual es el horario de atencion
          </div>

          <div class="collapse" id="collapseTime">
            <div class="content__collapse">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
              voluptatibus exercitationem in fugiat enim placeat unde, fugit
              dolorem ab tempora suscipit ut quod accusamus laudantium fuga
              sequi ipsam maxime officia!
            </div>
          </div>
        </li>

        <li
          data-bs-toggle="collapse"
          data-bs-target="#collapseWarantyTime"
          aria-expanded="false"
          aria-controls="collapseWarantyTime"
          class="card card-body description__questions"
        >
          <div>
            <span class="collapse-icon" aria-hidden="true"></span>
            Cuanto tiempo dura la garantia
          </div>

          <div class="collapse" id="collapseWarantyTime">
            <div class="content__collapse">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
              voluptatibus exercitationem in fugiat enim placeat unde, fugit
              dolorem ab tempora suscipit ut quod accusamus laudantium fuga
              sequi ipsam maxime officia!
            </div>
          </div>
        </li>

        <li
          data-bs-toggle="collapse"
          data-bs-target="#collapseDurationWarranty"
          aria-expanded="false"
          aria-controls="collapseDurationWarranty"
          class="card card-body description__questions"
        >
          <div>
            <span class="collapse-icon" aria-hidden="true"></span>
            Que cubre la garantia
          </div>

          <div class="collapse" id="collapseDurationWarranty">
            <div class="content__collapse">
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit
              voluptatibus exercitationem in fugiat enim placeat unde, fugit
              dolorem ab tempora suscipit ut quod accusamus laudantium fuga
              sequi ipsam maxime officia!
            </div>
          </div>
        </li>
      </ul>
    </section>
  </main>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .container .container__social {
      background-color: #1b1414;
      width: 100%;
      border-radius: 10px;
    }

    .icon__social {
      width: 100px;
      height: 80px;
      color: #fff;
      background-color: #1b1414;
    }

    .banner__nails {
      width: 100%;
    }

    .container__nails__services {
      width: 100%;
      margin-top: 50px;
    }

    .container__services {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: flex-start;
      justify-content: space-around;
    }

    .title__services {
      text-align: center;
    }

    .container__questions {
      margin-top: 50px;
      width: 100%;
    }

    .container__questions .container__warranty {
      list-style: none;
      margin-top: 20px;
    }

    .container__questions .container__warranty li {
      cursor: pointer;
      margin-top: 20px;
    }

    .content__collapse {
      border-top: 1px solid #fff;
      margin-top: 10px;
      padding-top: 10px;
    }

    .description__questions {
      background-color: #323232;
    }

    /* 
    \002B -> +
    \2212 -> -
     */

    .collapse-icon {
      content: '\002B';
    }

    .collapse-icon::before {
      content: '\002B';
    }

    .collapsed .collapse-icon::before {
      content: '\2212';
    }

    @media screen and (max-width: 768px) {
      .container__nails__services {
        width: 100%;
        margin-top: 0;
      }

      .container__questions {
        margin-top: 50px;
        width: 100%;
      }
    }
  </style>
</Layout>
