---
import Layout from '@/layouts/Layout.astro';
import Header from '@/components/Header.astro';
---

<Layout title="JNSails">
  <Header />

  <main class="container">
    <section class="content">
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
        architecto, in voluptate, modi earum libero nesciunt consequuntur
        accusamus vel voluptatibus neque labore ex cumque asperiores ea qui
        iure. Ea, nihil.
      </p>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
        architecto, in voluptate, modi earum libero nesciunt consequuntur
        accusamus vel voluptatibus neque labore ex cumque asperiores ea qui
        iure. Ea, nihil.
      </p>
      <p class="description">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Consectetur
        architecto, in voluptate, modi earum libero nesciunt consequuntur
        accusamus vel voluptatibus neque labore ex cumque asperiores ea qui
        iure. Ea, nihil.
      </p>

      <div class="container-nails">
        <img src="images/2.jpg" alt="flowers" class="image-nails" />
        <img src="images/2.jpg" alt="flowers" class="image-nails" />
        <img src="images/3.jpg" alt="flowers" class="image-nails" />
      </div>
    </section>

    <img src="/images/flowers.png" alt="flowers" class="image-flowers" />
  </main>
</Layout>

<style>
  .container {
    display: flex;
    justify-content: space-between;
  }

  .content {
    width: 70%;
    margin-left: 5rem;
  }

  .container-nails {
    display: flex;
  }

  .container-nails .image-nails {
    width: 20%;
    height: 10%;
    margin-right: 70px;
  }

  .content-image {
    width: 30%;
  }
  .image-logo {
    width: 20%;
    margin-left: 20px;
  }

  .image-flowers {
    width: 100%;
    height: auto;
    position: relative;
  }

  .description {
    color: #fff;
    width: 100vh;
  }
</style>
