---
import Layout from '@/layouts/Layout.astro';
import Prices from '@/components/Prices.astro';
import { spaServices } from '@/utils/constants';
import Carousel from '@/components/Carousel.astro';
import Card from '@/components/Card.astro';
import Instagram from '@/components/icons/Instagram.astro';
import Tiktok from '@/components/icons/Tiktok.astro';
import Whatsapp from '@/components/icons/Whatsapp.astro';

const { semipermanente, acrilico, retoques, tradicional, pressOn } =
  spaServices;

const images = [
  'images/banner/banner1.webp',
  'images/banner/banner2.webp',
  'images/banner/banner3.webp',
];
---

<Layout title="JDNails">
  <main class="container">
    <section class="banner__nails">
      <Carousel images={images} />
    </section>

    <section class="container__nails__services" id="servicios">
      <h2 class="title__services">Servicios</h2>
      <Card
        title="Semipermanente"
        description="This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer"
        src="images/1.webp"
      />

      <Card
        title="Acrilico"
        description="This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer"
        src="images/2.webp"
        position="right"
      />

      <Card
        title="Retoques"
        description="This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer"
        src="images/3.webp"
      />

      <Card
        title="Press On"
        description="This is a wider card with supporting text below as a natural lead-in to additional content. This content is a little bit longer"
        src="images/banner/banner8.webp"
        position="right"
      />
    </section>

    <section class="container__social">
      <a href="https://www.instagram.com/jessicadiaz_nailsart/" target="_blank">
        <Instagram class="icon__social" />
      </a>

      <a
        href="https://www.tiktok.com/@jessicadiazzapata8?lang=es"
        target="_blank"
      >
        <Tiktok class="icon__social" />
      </a>

      <a
        href="https://api.whatsapp.com/send?phone=+573212257761&text=Bienvenido%20a%20Jessica%20Diaz%20Nails%20Spa,%20¿en%20qué%20te%20podemos%20ayudar?"
        target="_blank"
      >
        <Whatsapp class="icon__social" />
      </a>
    </section>
  </main>

  <style>
    .container {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
    }

    .container .container__social {
      background-color: #1b1414;
      width: 100%;
      border-radius: 10px;
    }

    .icon__social {
      width: 100px;
      height: 80px;
      color: #fff;
      background-color: #1b1414;
    }

    .banner__nails {
      width: 100%;
    }

    .container__nails__services {
      width: 100%;
      margin-top: 50px;
    }

    .container__nails__services .title__services {
      text-align: center;
    }

    .container-prices {
      width: 80%;
      margin-top: 60px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      border-radius: 5px;
      border: 1px solid #fff;
      outline: 1px solid rgb(223, 18, 154);
      outline-offset: -13px;
    }

    @media screen and (max-width: 768px) {
      .press-on .price-press-on {
        margin-left: 19.5rem;
      }
    }
  </style>
</Layout>
