---
interface Props {
  title: string;
  description: string;
  src: string;
}

const { title, description, src } = Astro.props;
---

<div class="card mb-3" style="max-width: 540px;">
  <div class="row g-0">
    <div class="col-md-4">
      <img src={src} class="rounded-start img__nails" alt="nails">
    </div>
    <div class="col-md-8 card-nails-description">
      <div class="card-body">
        <h5 class="card-title">{title}</h5>
        <p class="card-text">{description}</p>
      </div>
    </div>
  </div>
</div>



<style>
  .card {
    border-width: 0;
    margin-top: 80px;
    background-color: transparent;
  }

  .card-body {
    padding: 10px;
  }

  .img__nails{
    max-width: 250px;
    height: 250px;
  }
  .card-title {
    margin-bottom;:10px
  }
  .card-nails-description {
    background-color: #323232;
    padding: 10px;
  }
  @media screen and (max-width: 768px) {
      .img__nails{
        max-width: 300px;
        height: 250px;
      }
      .card-nails-description {
        background-color: #323232;
        padding: 0
      }
  }
</style>
