<header class="header-container">
  <img src="/images/logo.png" alt="logo" class="image-logo" />
  <h2 class="header-title">Jessica Diaz</h2>
</header>

<style>
  .header-container {
    display: flex;
    height: 100px;
    align-items: center;
  }

  .header-title {
    color: #fff;
    font-family: 'Roboto', sans-serif;
  }

  .image-logo {
    margin-left: 2rem;
    width: 100px;
    height: 100px;
  }
</style>
