---
import Menu from './icons/Menu.astro';
---

<nav class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
  <div class="container">
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarTogglerDemo01"
      aria-controls="navbarTogglerDemo01"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <Menu />
      <!-- <span class="navbar-toggler-icon navigation__header"></span> -->
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
      <div class="container">
        <a class="navbar-brand link__root" href="#">
          <img
            src="/images/logo.png"
            alt="Logo"
            class="d-inline-block align-text-top image-logo"
          />
          <p>Jessica Diaz</p>
        </a>
      </div>
      <ul class="navbar-nav mb-4 mb-lg-0">
        <li class="nav-item item__navigation">
          <a class="nav-link active" aria-current="page" href="#servicios"
            >Servicios</a
          >
        </li>
        <li class="nav-item item__navigation">
          <a class="nav-link" href="#questions">Preguntas</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<style>
  .navbar {
    position: sticky;
    z-index: 10;
    border-bottom-color: #1b1414;
    border-bottom-width: 2px;
    border-bottom-style: solid;
    margin-bottom: 20px;
  }
  .navbar-toggler-icon {
    color: #fff;
  }
  .navigation__header {
    color: #fff;
  }

  .link__root {
    display: flex;
    align-items: center;
  }

  .link__root p {
    margin-top: 10px;
    color: #fff;
  }

  .item__navigation a {
    position: relative;
    text-decoration: none;
    color: #fff;
  }

  .image-logo {
    margin-left: 2rem;
    width: 100px;
    height: 100px;
  }

  @media screen and (max-width: 768px) {
    .image-logo {
      width: 60px;
      height: 60px;
      margin-left: 0;
    }
  }
</style>
