---
interface Prices {
  title: string;
  descriptions: string[];
  prices: string[];
}

const { title, descriptions, prices } = Astro.props;
---

<div>
  <h3 class="title-price">{title}</h3>
  <div class="container-prices-description">
    <ul class="types-services">
      {descriptions.map((description) => <li>{description}</li>)}
    </ul>

    <ul class="prices">
      {prices.map((price) => <li>{price}</li>)}
    </ul>
  </div>
</div>

<style>
  div .title-price {
  }
  .container-prices-description {
    display: flex;
    flex-direction: row;
  }
  .container-prices-description ul {
    list-style: none;
  }

  .container-prices-description ul li {
    margin-bottom: 10px;
    width: 200px;
  }
  .container-prices-description .prices {
    margin-left: 25rem;
  }

  @media screen and (max-width: 768px) {
    .container-prices-description .prices {
      margin-left: 5rem;
    }

    .container-prices-description .types-services li {
      width: 200px;
    }
  }
</style>
