---
import Header from '@/components/Header.astro';
import '@fontsource-variable/nunito';
import { ViewTransitions } from 'astro:transitions';
interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content="Astro description" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/png" href="/images/logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
  </head>
  <body>
    <Header />
    <ViewTransitions />
    <slot />

    <footer class="app-footer">
      <p>321-225-7761</p>
      <p>Calle 32a # 45-01</p>
      <p>San Pio - Itagui</p>
    </footer>
  </body>
</html>

<style is:global>
  * {
    box-sizing: border-box;
  }

  html {
    background: #000000;
    color: #fff;
  }

  body {
    margin: 0;
    font-family: 'Nunito Variable', sans-serif;
  }

  .app-footer {
    width: 70%;
    margin-left: 5rem;
    display: flex;
    flex-direction: column;
    margin-top: 120px;
  }

  .app-footer p {
    font-size: 1.5rem;
    margin-top: -10px;
  }
</style>
